@import "../../../../styles/variable.scss";

.shareCardDiv {
    @extend .cardStyles;
    position: relative;
}

.shareUser {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.shareUser > span {
    font-weight: bold;
}

.shareProfile {
    width: 72px;
    margin-right: 10px;
}

.shareInput {
    width: 100%;
    height: 60px;
    border-radius: 50px;
    padding-left: 20px;
    background-color: $background1;
    outline: none;
    border: 1px solid $fcolor1;
    transition: $transitionTime;
    cursor: pointer;
    text-align: left;
}

.shareInput:hover {
    background-color: $background2;
    color: $fcolor2;
}

.button {
    background-color: $background2;
    width: 100px;
    margin-left: auto;
    margin-top: 10px;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: $radius10;
    cursor: pointer;
    transition: background-color $transitionTime;
}

.button:hover {
    background-color: $background3;
}