@import "../../styles/variable.scss";

.postMenuList {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    right: 25px;
    top: 40px;
    gap: 5px;
    background-color: $background1;
    padding: 10px;
    box-shadow: $bscolor ;
    border-radius: $radius10;
}

.postMenuList>button {
    display: flex;
    justify-content: space-evenly;
    padding: 7px 10px;
    width: 150px;
    border: none;
    border-radius: $radius10;
    background-color: $background1;
    font-size: 1rem;
    cursor: pointer;
    user-select: none;
    transition: $transitionTime;
}

.postMenuList>button:hover {
    background-color: $background2;
    color: $fcolor2;
}

.postMenuButton{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 5px;
    clip-path: circle();
    border: none;
    background-color: transparent;
    color: $fcolor1;
    cursor: pointer;
    transition: $transitionTime;
}

.postMenuButton:hover {
    background-color: $background3;
    color: $fcolor2;
}