@import "../../styles/variable.scss";

.postCardContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $trBackground;
    z-index: 2;
}

.postContentContainer {
    position: sticky;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 60%;
    min-width: 270px;
    height: 90vh;
    top: 30px;
    padding: $cardPadding;
    border-radius: 50px 0;
    background-color: $background2;
    color: $fcolor2;
}

.postScrenn {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
    margin: 10px 0;
    overflow: auto;
}

.postCommentsContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    min-width: 220px;
    margin-top: 10px;
    border-left: 1px solid $fcolor2;
}

.postComments {
    padding: 0 7px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.postDivContainer {
    position: relative;
    display: grid;
    grid-template-columns: auto;
}

.postInputDescription {
    width: 100%;
    height: 100%;
    background-color: $background3;
    color: $fcolor2;
    padding: $padding10;
    outline: none;
    border: none;
    border-bottom: 2px solid $background1;
    resize: none;
}

.exitButton {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    cursor: pointer;
    color: $fcolor2;
    margin-left: auto;
}

.linkProfileDiv {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $fcolor2;
    padding-bottom: 5px;
}

.editPostDate {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: $fcolor2;
    right: 0;
    font-size: 0.7rem;
}

.userInfo>p:nth-child(1) {
    font-weight: bold;
}

.userInfo>p:nth-child(2) {
    font-size: .7rem;
}

.linkProfile {
    width: 35px;
    margin-right: 10px;
    clip-path: circle();
}

.userProfileDiv {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.userInfoComponent>p {
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.userInfoComponent>div {
    display: flex;
    gap: 5px;
    font-size: .7rem;
}

.postImg {
    width: 70%;
    height: auto;
    margin: 0 auto;
}

.postScrenn>a {
    margin: 5px auto 0;
    font-weight: bold;
}

.contentTextContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid $fcolor2;
    width: 100%;
    overflow: auto;
    height: 90%;
    min-height: 200px;
}

.contentTextContainer>p {
    white-space: pre-line;
}

.postScrenn>h2 {
    margin: 10px 0;
}

.utilsMenu {
    position: absolute;
    right: 40px;
    top: 13px;
}

.userCommentContainer {
    margin-top: 10px;
    border-bottom: 1px solid $fcolor2;
}

.userCommentContainer>span {
    font-size: 0.7rem;
    cursor: pointer;
    margin-right: 5px;
}

.commentsUserProfile {
    width: 25px;
    margin-right: 10px;
    clip-path: circle();
}

.commentDiv {
    outline: none;
}

.editComment {
    background-color: $background3;
    padding: 10px;
}

.moreButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    color: $fcolor2;
}

.moreButton:active {
    color: $fcolor1;
}

.commentUtils {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.commentInput {
    width: 100%;
    height: 30px;
    background-color: $background3;
    border: none;
    border-bottom: 1px solid $fcolor2;
    outline: none;
    margin-left: 5px;
    padding: 5px;
}

.commentInput:focus-visible {
    color: $fcolor2;
}

.commentButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    color: $fcolor2;
    height: 100%;
    font-size: 1.3rem;
}

.postUtils {
    display: none;
    align-items: center;
    font-size: 1.3rem;
    cursor: pointer;
}

.postUtils:hover {
    color: $fcolor1;
}

.postUtils>span {
    font-size: .7rem;
    margin-left: 5px;
}

.commetsExit {
    font-size: 2rem;
    margin-left: auto;
}

@keyframes commentsContent {
    from {
        height: 0%;
    }

    to {
        height: 80%;
    }
}

@media (max-width: 900px) {
    .postContentContainer {
        width: 80%;
    }
}

@media (max-width: 625px) {
    .postContentContainer {
        width: 95%;
        height: 80vh;
    }

    .postCardContainer {
        height: 100%;
    }
}

@media (max-width: 500px) {
    .postContentContainer {
        display: flex;
        flex-direction: column;
        height: 80vh;
        padding: 20px;
        gap: 0;
    }

    .postScrenn {
        width: 100%;
        height: 95%;
        border-bottom: 1px solid $fcolor2;
    }

    .postUtils {
        display: flex;
    }

    .postCommentsContainer {
        position: absolute;
        display: flex;
        width: 100%;
        height: 0%;
        border-top: 1px solid $fcolor2;
        border-left: none;
        border-radius: 30px 0;
        padding: 10px;
        bottom: 0;
        left: 0;
        background-color: $background2;
        animation: commentsContent .3s forwards;
    }

    .postComments {
        margin-top: auto;
    }
}