@import "../../styles/variable.scss";

.PostCardContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: $trBackground;
    z-index: 1;
}

.postContentContainer {
    position: sticky;
    display: flex;
    gap: 10px;
    width: 60%;
    min-width: 490px;
    height: 90vh;
    top: 30px;
    padding: $cardPadding;
    border-radius: $radius10;
    background-color: $background2;
    color: $fcolor2;
}

.postScrenn {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
    margin-top: 10px;
}

.postCommentsContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    min-width: 220px;
    margin-top: 10px;
    border-left: 1px solid $fcolor2;
}

.postComments {
    padding: $padding10;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.postDivContainer {
    position: relative;
    display: grid;
    grid-template-columns: auto;
}

.postInputDescription {
    width: 100%;
    height: 100%;
    background-color: $background3;
    color: $fcolor2;
    padding: $padding10;
    outline: none;
    border: none;
    border-bottom: 2px solid $background1;
    resize: none;
}

.exitButton {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 35px;
    cursor: pointer;
    color: $fcolor2;
}

.linkProfileDiv {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $fcolor2;
    padding-bottom: 5px;
}

.linkProfileDiv>p:nth-child(2) {
    font-weight: bold;
}

.linkProfileDiv>p:nth-child(3) {
    margin: 0 5px 5px 5px;
}

.linkProfile {
    width: 35px;
    margin-right: 10px;
    clip-path: circle();
}

.userProfileDiv {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.userProfileDiv>p:nth-child(2) {
    font-weight: bold;
}

.userProfileDiv>p:nth-child(3) {
    margin: 0 5px 5px 5px;
}

.postImg {
    width: 50%;
    height: auto;
    margin: 0 auto;
}

.contentTextContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $fcolor2;
    width: 100%;
    overflow: auto;
    height: 90%;
}

.postScrenn>h2 {
    margin: 5px 0;
}

.commentsUserProfile {
    width: 25px;
    margin-right: 10px;
    clip-path: circle();
}

.userCommentContainer {
    margin-top: 10px;
}

.userCommentContainer>p {
    padding: 0 0 10px 5px;
    border-bottom: 1px solid $fcolor2;
}

.commentUtils {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.commentInput {
    width: 100%;
    height: 30px;
    background-color: $background3;
    border: none;
    border-bottom: 1px solid $fcolor2;
    outline: none;
    margin-left: 5px;
    padding: 5px;
}

.commentInput:focus-visible{
    color: $fcolor2;
}

.commentButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    color: $fcolor2;
    height: 100%;
    font-size: 15px;
}