@import "../../../../styles/variable.scss";

.content {
    @extend .cardStyles;
    max-height: 200px;
}

.linkCard {
    display: grid;
    gap: 10px;
}

.linkProfileDiv {
    display: flex;
    align-items: center;
}

.linkProfile {
    font-size: 35px;
    margin-right: 10px;
}

.linkCardContent{
    display: flex;
    flex-direction: row;
}

.linkCardImg{
    width: 100px;
    background-size: 100%;
    background-position-y: 50%;
    background-position-x: 50%;
    margin-right: 10px;
}