@import "../../../../styles/variable.scss";

.content {
    @extend .cardStyles;
    max-height: 200px;
    cursor: pointer;
}

.linkCard {
    display: grid;
    gap: 10px;
}

.linkProfileDiv {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #00000052;
    padding-bottom: 5px;
}

.linkProfileDiv > p:nth-child(2){
    font-weight: bold;
}

.linkProfileDiv > p:nth-child(3){
    margin: 0 5px 5px 5px;
}

.linkProfile {
    width: 35px;
    margin-right: 10px;
}

.linkCardContent {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.linkCardImg {
    width: 100px;
    background-size: 100%;
    background-position-y: 50%;
    background-position-x: 50%;
    background-repeat: no-repeat;
}

.cardContent{
    width: 100%;
}

.cardContent>p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}