@import "../../../../styles/variable.scss";

.content {
    @extend .cardStyles;
    max-height: 200px;
    cursor: pointer;
}

.linkCard {
    display: grid;
    gap: 10px;
}

.linkProfileDiv {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #00000052;
    padding-bottom: 5px;
}

.userInfo>p:nth-child(1) {
    font-weight: bold;
    color: $fcolor1;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.userInfo>p:nth-child(2) {
    color: $fcolor1;
    font-size: .7rem;
}

.linkProfile {
    width: 35px;
    margin-right: 10px;
    clip-path: circle();
}

.linkCardContent {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.categoryName{
    position: absolute;
    right: 0;
    top: -20px;
    padding: 1px 8px;
    background-color: $background1;
    color: $fcolor1;
}

.linkCardImg {
    width: 100px;
    background-size: 100%;
    background-position-y: 50%;
    background-position-x: 50%;
    background-repeat: no-repeat;
}

.cardContent {
    width: 100%;
}

.cardContent>* {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    color: $fcolor1;
}

.editPostDate{
    position: absolute;
    right: 50px;
    font-size: calc(0.7rem);
    color: $fcolor1;
}