@import "../../../styles/variable.scss";

.body {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: $cardGapC;
}

.bodyContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: $leftPosition;
    width: 60%;
    row-gap: $cardGapR;
}

.contentContainer {
    display: grid;
    row-gap: $cardGapR;
}

.topicsContainer {
    width: 23%;
}

.linkCardContainer {
    position: relative;
}

.postMenuContainer {
    position: relative;
}

.postMenuButton {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
    top: 15px;
    font-size: 15px;
    padding: 5px;
    clip-path: circle();
    border: none;
    background-color: $background1;
    color: $fcolor1;
    cursor: pointer;
    transition: $transitionTime;
    z-index: 1;
}

.postMenuButton:hover {
    background-color: $background3;
    color: $fcolor2;
}
