@import "../../../../styles/variable.scss";

.topicsContainer {
    position: sticky;
    top: 85px;
    background-color: $background1;
    margin-left: $cardGapC;
    padding: $cardPadding;
    border-radius: $radius10;
    border: $cardBorderColor;
    box-shadow: $bscolor;
}

.topicTitle {
    margin-bottom: 10px;
}

.topics:hover {
    text-decoration: underline;
}

.topics {
    margin-bottom: 5px;
    cursor: pointer;
}