@import "../../../../styles/variable.scss";

.topicsContainer {
    position: sticky;
    top: 85px;
    background-color: $background1;
    margin-left: $cardGapC;
    padding: $cardPadding;
    border-radius: $radius10;
    border: $cardBorderColor;
    box-shadow: $bscolor;
    width: 100%;
    min-width: 220px;
}

.loadingContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}

.topicsContainerNotch{  
    display: none;
    position: absolute;
    padding: 10px;
    border: 1px solid #8800863b;
    background-color: $background1;
    border-radius: 5px 0 0 0;
    border-bottom: none;
    border-right: none;
    top: -11px;
    left: 10px;
    transform: rotate(45deg);
    z-index: -100;
}

.topicTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.topics:hover  {
    background-color: #00000028;
    font-weight: bold;
}

.topics  {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    cursor: pointer;
    white-space: nowrap;
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    transition: .3s;
    border-radius: 20px;
}

.topics > span {
    font-size: 0.8rem;
}

@media (max-width: 850px) {
    .topicsContainerNotch{
        display: flex;
    }
}