@import "../../../../styles/variable.scss";
@import "../style.module.scss";

.utilsBottom {
    display: none;
    z-index: 1;
}

.utilsIcon {
    font-size: 1.7rem;
}

.home {
    @extend .utilsPosition;
}

.add {
    @extend .utilsPosition;
}

.profile {
    @extend .utilsPosition;
}

.profile>p {
    text-wrap: nowrap;
}

.profile:hover,
.add:hover,
.home:hover {
    color: $background2;
}

.profileStyle {
    width: 27px;
    clip-path: circle(50%);
}

@media (max-width: 545px) {
    .utilsBottom {
        display: flex;
        position: fixed;
        justify-content: space-around;
        flex-direction: row;
        bottom: 0;
        padding: 10px;
        width: 100%;
        background-color: $background1;
    }

}