@import "../../../styles/variable.scss";

/* NavBar Styles */

.navBar {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;
    width: 100%;
    height: $menuHeight;
    background-color: $background1;
    z-index: 1;
}

.navBarContainer {
    display: flex;
    position: absolute;
    left: $leftPosition;
    justify-content: space-between;
    width: 83%;
}

/*Logo Styles*/

.logoDiv {
    display: flex;
    position: relative;
    align-items: center;
    height: $menuHeight;
    left: 0;
}

.logo {
    font-style: normal;
    font-weight: 900;
    font-size: 2.2rem;

    background: $lg-background;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    cursor: pointer;
}

/*Search Input Styles*/

.searchDiv {
    display: flex;
    align-items: center;
    height: $menuHeight;
    margin: 0 5px;
    width: 350px;
    min-width: 160px;
}

.searchButton {
    position: absolute;
    width: 30px;
    padding: 5px;
    height: $searchHeight;
}

.searchForm {
    width: 100%;
}

.searchInput {
    width: 60%;
    height: $searchHeight;
    padding-left: 30px;
    border: 1px solid $fcolor1;
    border-radius: $radius5;
    -webkit-transition: $transitionTime;
    transition: $transitionTime;
    outline: none;
    background-color: $background1;
}

.searchInput:focus {
    width: 100%;
    background-color: $fcolor2;
}

/*Utils Style*/

.utils {
    display: flex;
    gap: 26px;
    height: $menuHeight;
}

.utilsPosition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: $font12;
    color: $fcolor3;
    transition: $transitionTime;
    font-weight: bold;
    cursor: pointer;
}

.utilsIcon {
    font-size: 1.7rem;
}

.home {
    @extend .utilsPosition;
    font-size: $font12;
}

.add {
    @extend .utilsPosition;
    font-size: $font12;
}

.profile {
    @extend .utilsPosition;
    font-size: $font12;
}

.profile>p {
    text-wrap: nowrap;
}

.profile:hover,
.add:hover,
.home:hover {
    color: $background2;
}

.profileStyle {
    width: 27px;
    clip-path: circle(50%);
}

.topicMenuContainer {
    display: none;
}

@media (max-width: 850px) {
    .topicMenuContainer {
        display: flex;
    }

    .topicsMenuButton {
        display: flex;
        position: relative;
        margin-left: 20px;
        padding: 5px;
        border: 1px solid $fcolor1;
        border-radius: $radius5;
        font-size: 2rem;
        cursor: pointer;
    }

    .topicMenu {
        position: absolute;
        top: 50px;
        left: -7px;
    }
}

@media (max-width: 800px) {
    .logo {
        display: none;
    }
}

@media (max-width: 545px) {
    .utils {
        display: none;
    }
}