@import "../../../styles/variable.scss";

/* NavBar Styles */

.navBar {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;
    width: 100%;
    height: $menuHeight;
    background-color: $background1;
    border-bottom: $cardBorderColor;
    z-index: 2;
}

.navBarContainer {
    display: flex;
    position: absolute;
    left: $leftPosition;
    justify-content: space-between;
    align-items: center;
    width: 62%;
}

/*Logo Styles*/

.logoDiv {
    display: flex;
    position: relative;
    align-items: center;
    height: $menuHeight;
    left: 0;
}

.logo {
    font-style: normal;
    font-weight: 900;
    font-size: 2.2rem;

    background: $lg-background;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    user-select: none;
    cursor: pointer;
}

/*Search Input Styles*/

.searchDiv {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 10px;
    margin-right: auto;
    height: $searchHeight;
    width: 100%;
    max-width: 350px;
    min-width: 160px;
}

.searchResultDiv {
    position: absolute;
    top: 29px;
    left: 0px;
    width: 100%;
    background-color: #fff;
    border: 1px solid $fcolor3;
    border-top: none;
    border-radius: 0 0 10px 10px;
    z-index: 1;
}

.searchResultDiv a {
    @extend .utilsPosition;
    list-style: none;
    padding: 10px;
}

.searchResultDiv li {
    font-size: 0.8rem;
    text-align: center;
}

.searchResultDiv a:hover {
    background-color: $background3;
    color: $fcolor2;
    transition: .3s;
}

.searchButton {
    position: absolute;
    width: 25px;
    padding: 5px;
    height: $searchHeight;
}

.searchInput {
    width: 50%;
    height: $searchHeight;
    padding-left: 30px;
    border-radius: $radius10;
    outline: none;
    background-color: transparent;
    -webkit-transition: $transitionTime;
    transition: $transitionTime;
    box-shadow: $bscolor;
    border: none;
    border-radius: $radius10;
}

.searchInput:focus,
.searchInput:not([value=""]) {
    border: 1px solid $fcolor3;
    width: 100%;
}

.searchInput:not([value=""]) {
    border: 1px solid $fcolor3;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.searchInput[value=""]~.searchResultDiv {
    display: none;
}

/*Utils Style*/

.utils {
    display: flex;
    gap: 26px;
    height: $menuHeight;
    right: 30%;
}

.utilsPosition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: $font12;
    color: $fcolor3;
    transition: $transitionTime;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

.utilsIcon {
    font-size: 1.7rem;
}

.home {
    @extend .utilsPosition;
}

.add {
    @extend .utilsPosition;
}

.profile {
    @extend .utilsPosition;
}

.profile>p {
    text-wrap: nowrap;
}

.profile:hover,
.add:hover,
.home:hover {
    color: $background2;
}

.profileStyle {
    width: 27px;
    clip-path: circle(50%);
}

.topicMenuContainer {
    display: none;
}

@media (max-width: 850px) {
    .navBarContainer {
        left: 10%;
    }

    .utils {
        right: 0;
    }

    .topicMenuContainer {
        display: flex;
    }

    .topicsMenuButton {
        display: flex;
        position: relative;
        margin-left: 20px;
        padding: 5px;
        border: 1px solid $fcolor1;
        border-radius: $radius5;
        font-size: 2rem;
        cursor: pointer;
    }

    .topicMenu {
        position: absolute;
        top: 65px;
        left: -10px;
    }
}

@media (max-width: 730px) {
    .utils {
        display: none;
    }

    .navBarContainer {
        justify-content: center;
        width: 90%;
    }
}

@media (max-width: 465px) {
    .logo {
        display: none;
    }

    .navBarContainer {
        width: 70%;
        left: 20%;
    }
}