@import "../../styles/variable.scss";

.editPostScreenContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100dvh;
    background-color: $trBackground;
    z-index: 2;
}

.editPostScrenn {
    position: sticky;
    top: 30px;
    width: 60%;
    padding: $cardPadding;
    border-radius: $radius10;
    background-color: $background2;
    color: $fcolor2;
    display: flex;
    flex-direction: column;
}

.editPostDivContainer {
    position: relative;
    display: grid;
    grid-template-columns: auto;
}

.exitButton {
    margin-left: auto;
    font-size: 1.7rem;
    cursor: pointer;
    color: $fcolor2;
}

.editPostSpan::after {
    content: ":";
    position: absolute;
    left: 100px;
}

.editPostDivContainer>input,
.editPostDivContainer>select {
    width: 100%;
    height: 40px;
    padding: $padding10;
    background-color: $background2;
    color: $fcolor2;
    outline: none;
    border: none;
    border-bottom: 2px solid $background1;
}

.editPostDivContainer>input::placeholder {
    color: $fcolor2;
}

.editPostDivContainer>input:focus,
.editPostDivContainer>select:focus,
.editPostInputDescription:focus {
    background-color: $background3;
}

.editPostInputDescription {
    width: 100%;
    height: 100%;
    background-color: $background2;
    color: $fcolor2;
    padding: $padding10;
    outline: none;
    border: none;
    border-bottom: 2px solid $background1;
    resize: none;
}

.editPostInputDescription::placeholder {
    color: $fcolor2;
}

.postButton {
    border: none;
    padding: 5px 20px;
    background-color: $icolor;
    color: $fcolor2;
    border-radius: $radius10;
    margin-top: $padding10;
    cursor: pointer;
}

.editPostButtonDiv {
    margin-left: auto;
}

.editPostButton {
    border: none;
    padding: 5px 20px;
    background-color: $icolor;
    color: $fcolor2;
    border-radius: $radius10;
    margin-top: $padding10;
    cursor: pointer;
}

.editPostButton:hover {
    background-color: $icolor2;
}

.editPostDivContainer>label {
    color: $fcolor2;
    padding: $padding10;
}

@media (max-width: 600px) {
    .editPostScrenn {
        width: 80%;
    }
}